node_modules/
.npm-cache/
.local/

.env
.env.*
!.env.example

uploads/
uploads-testnet/

*.log
npm-debug.log*

coverage/
dist/
.next/
.cache/
src/client/generated/

.DS_Store
Thumbs.db
.vscode/
public/
